<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zhaoshichuan.mapper.EmpMapper">

    <sql id="empColumns">
        select * from emp
    </sql>

    <update id="update2">
        update emp
        <set>
            <if test=" username != null">username=#{username},</if>
            <if test=" name != null">name=#{name},</if>
            <if test=" gender != null">gender=#{gender},</if>
            <if test=" image != null">image=#{image},</if>
            <if test=" job != null">job=#{job},</if>
            <if test=" entrydate != null">entrydate=#{entrydate},</if>
            <if test=" deptId != null">dept_id=#{deptId},</if>
            <if test=" updateTime != null">update_time=#{updateTime}</if>
        </set>
        where id=#{id}
    </update>

    <!--    批量删除员工(17,18,19)-->
    <delete id="batchDeleteById">
        delete from emp where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="listXml" resultType="com.example.zhaoshichuan.pojo.Emp">
        <include refid="empColumns"/>
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and entrydate between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>

</mapper>